@model PropertyAdministration.ViewModels.HOMEIndexViewModel

    <li>
        <div class="address">
            <div class="housenumber">
                <a asp-controller="House"
                   asp-action="Details"
                   asp-route-id="@Model.HouseId">@Model.StreetNumber @Model.StreetName</a>
            </div>
            <div class="fullname">
                @Model.FullName
            </div>
        </div>
        <div class="details">
            <span class="categoryname">
                @Model.CategoryName
            </span>
            <span class="invstatus">
                <div class="goToInvoices">
                    <p class="button">
                        <a class="btn btn-sm"
                           asp-controller="Invoice"         
                           asp-action="Index"
                           asp-route-id="@Model.HouseId">Invoices</a>
                    </p>
                </div>
            </span>
        </div>
        <div class="details2">
            <span class="descr">
                @Model.Description
            </span>
        </div>
    </li>