@model House
    <h2> @Model.StreetNumber @Model.StreetName </h2>
 
<div class="thumbnail"> 
    <div class="caption-full">
        <h3>
            @Model.Owner.FullName
            @* <a href="#">@Model.StreetNumber @Model.StreetName</a>*@
        </h3>
        <h4>House Notes</h4>
        <p>@Model.Description</p>
        <div class="goToInvoices">
            <p class="button">
                <a class="btn btn-sm"
                   asp-controller="Invoice"
                   asp-action="Index"
                   asp-route-id="@Model.HouseId">Invoices</a>
            </p>
            @await Component.InvokeAsync("InvoiceSummary", new { houseId = @Model.HouseId })
        </div>
    </div>
</div>