@model PropertyAdministration.Application.AppModels.HouseViewModel
<h2> @Model.StreetNumber @Model.StreetName </h2>
@await Html.PartialAsync("_MsgSuccessFail", Model)
<div class="thumbnail">
    <div class="caption-full">
        <h3>
            Owner:@Model.FullName
            @* <a href="#">@Model.StreetNumber @Model.StreetName</a>*@
        </h3>
        <h4>House Notes</h4>
        <p>@Model.Description</p>
        <div class="goToInvoices">
            <p class="button">
                <a class="btn btn-sm"
                   asp-controller="Invoice"
                   asp-action="Index"
                   asp-route-id="@Model.HouseId">Invoices</a>
            </p>
            @await Component.InvokeAsync("InvoiceSummary", new { houseId = @Model.HouseId })
        </div>

    </div>

</div>

<div class="btn-group">
    <a href="../Edit/@Model.HouseId " class="btn btn-primary active">
        <i class="glyphicon button" aria-hidden="true"></i> Edit
    </a>
</div>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
