@model IEnumerable<HOMEIndexViewModel> 

<h2>All Properties</h2>
<ul class="houses">
    @foreach (var item in Model)
    {
        <partial name="_HouseList" model="item" />

    }
</ul>
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-lg-2">Address </th>
            <th>Category</th>
            <th>Price</th>
            <th>Plot?</th>  
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model )
        {
            <tr>
                <td>
                    <a asp-controller="House"
                       asp-action="Details"
                       asp-route-houseId="@item.HouseId">@item.StreetName </a>
                </td>
                houseId
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.IsPlot</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.HouseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.HouseId })
                </td>

            </tr>
        }
    </tbody>
</table>



