
@{
    ViewData["Title"] = "BulkCreate";
}
@model List<CreateBulkInvoiceViewModel>

    <form asp-action="BulkEditPies" method="post">
        @for (var i = 0; i < Model.Count; i++)
        {

            <div class="form-group">
                <label asp-for="@Model[i].StreetName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model[i].StreetName" class="form-control" readonly="readonly" />
                    <span asp-validation-for="@Model[i].StreetName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model[i].Invoicev.Amount" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model[i].Invoicev.Amount" class="form-control" />
                    <span asp-validation-for="@Model[i].Invoicev.Amount" class="text-danger"></span>
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary">Submit</button>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model[i].StreetNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model[i].StreetNumber" class="form-control" readonly="readonly" />
                        <span asp-validation-for="@Model[i].StreetNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="@Model[i].Invoicev.Amount" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model[i].Invoicev.Amount" class="form-control" />
                            <span asp-validation-for="@Model[i].Invoicev.Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model[i].StreetName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model[i].StreetName" class="form-control" readonly="readonly" />
                        <span asp-validation-for="@Model[i].StreetName" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div> 

    </form>