@model InvoiceListViewModel

    <h2> @Model.HouseAddress </h2>
    <h4>Invoices listing`</h4>

<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Dated</th>
            <th>description</th>
            <th class="text-right">Date Paid</th>
            <th class="text-right">Paid?</th>
            <th class="text-right">Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Invoices)
        {
        <tr>
            <td>@line.InvoiceDate </td>
            <td>@line.Description</td>
            <td>@line.DatePaid </td> 
            <td  class="text-right">@(@line.IsPaid ? "Yes" : "No") </td> 
            <td class="text-right">
                @line.Amount.ToString("c")
            </td>
            <td> 
                <form asp-action="Delete" asp-route-id="@line.InvoiceId" method="get">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-invoiceId="@line.InvoiceId" asp-route-houseId="@line.HouseId">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr> 
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total:</td>
            <td class="text-right">
                @Model.InvoicesTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Invoice" 
                               asp-action="Create"
                              asp-route-houseId="@Model.HouseId">New Invoice</a>
</div>
 