@model  InvoiceListVM 

 <h2>@Html.DisplayFor(item => Model.ListingHeader)</h2>
<h4>Invoices listing </h4>

<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Dated</th>
            <th colspan="2">House</th> 
            <th>Decription</th>
            <th>Date Paid</th>
            <th class="text-right">Paid?</th>
            <th class="text-right">Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.invoiceListViewModel)
        {
        <tr>
            <td class="text-left"> @line.Invoicev.InvoiceDate.ToString("d MMM yyyy") </td>
            <td>@line.HouseAddress</td>
            @if (@line.FullName.Length > 17)
            {
                <td>  @line.FullName.ToString().Substring(0, 17)  </td>

            }
            else
            {
                <td>  @line.FullName</td>

            }
            <td>@line.Invoicev.Description</td>
            <td>@Html.DisplayFor(item => line.Invoicev.DatePaid)  </td>
            <td class="text-right">@(line.Invoicev.IsPaid ? "Yes" : "No") </td>
            <td class="text-right">
                @line.Invoicev.Amount.ToString("c")
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@line.Invoicev.InvoiceId" method="get">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-invoiceId="@line.Invoicev.InvoiceId" asp-route-houseId="@line.Invoicev.HouseId">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }

        </tbody>
    <tfoot>
        <tr>
            <td colspan="6" class="text-right">Owing:</td>
            <td class="text-right">
                @Model.InvoicesTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Invoice"
       asp-action="Create"
       asp-route-houseId=@Model.HouseId>New Invoice</a>
</div>
 